/* ----------------------------------- */
/* ESTILOS GENERALES (Diseño Elástico) */
/* ----------------------------------- */




/* ---------- MEDIA QUERIS ---------- */
/* -------------------- */
/* SMARTPHONE (Vertical)*/
/* -------------------- */
@media only screen
and (min-width:300px) and (max-width: 450px)
and (orientation: portrait)
{

    .barraNav__nav--icono::before{
        content: "";
        background: url(../assets/svg/nav.svg) no-repeat;
        width: 50px;
        height: 50px;
        display: inline-block;
    }

    .banner__arbol{
        background-image: url(../assets/img/arbolMovil.png);
        height: 250px;
        background-size: cover;
        background-position: center;
    }

}

@media only screen
and (min-device-width:320px)
and (orientation: portrait)
{


}
/* -------------------- */
/* TABLET = iPad */
/* -------------------- */

/* ---------- VERTICAL ---------- */
@media only screen
and (min-width:451px) and (max-width: 1023px)
and (orientation: portrait)
{
    .banner__arbol{
        background-image: url(../assets/img/arbolTablet.png);
        height: 500px;
        background-size: cover;
        background-position: center;
    }
}


   


/* ---------- HORIZONTAL ---------- */
@media only screen
and (min-device-width:812px)
and (orientation: landscape)
{
    .banner__arbol{
        background-image: url(../assets/img/arbolTablet.png);
        height: 500px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }


}
/* -------------------- */
/* ESCRITORIO */
/* -------------------- */
@media only screen
and (min-width:1366px)
{

    .barraNav{
        justify-content: space-between;
        padding: 0.5rem 4rem;
        align-items: center;
    }

    .barraNav__logo{
        flex-grow: 0;
        display: flex;
        flex-direction: column;
    }

    .barraNav__logo__isotipo{
        margin-top: 90px;
    }
    .barraNav__logo__logotipo::before{
        content: "Marca";
        font-size: 3.5rem;
        
    }

    .barraNav__nav{
        display: flex;
        flex-grow: 0.5;
        justify-content: space-between;
    }
   
/* SEO no deben tener importancia */
/* Cree segun los media Q */
    .barraNav__nav--galeria a::before{
        content: "Galeria";
    }
    .barraNav__nav--trabajos a::before{
        content: "Trabajos";
    }
    .barraNav__nav--contactar a::before{
        content: "Contactar";
    }


    /* banner */
    .banner__arbol{
        background-image: url(../assets/img/arbolescritorio.png);
        height: 750px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }



}

